html, body {
    margin: 0;
    background-color: #000000 !important; /* Change this color using VS Code's color picker to change the background of all pages */
    color: #000000;
    min-height: 100vh;
    width: 100%;
}

.navbar {
    background-color: #000000 !important;
    padding: 50px 36px;
    color: #000000;
}

.navbar-brand, .nav-link {
    color: white !important;
    font-size: 20px;
}

.navbar .btn-outline-light:hover {
    background-color: #000000b1;
}

.navbar-text {
    color: white;
    font-family:'Courier New', Courier, monospace;
}

header {
    background-color: #000000;
    color: white;
    padding: 1rem;
    text-align: center;
}

.card {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.btn-primary {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-primary:hover {
    background-color: #bb2d3b;
    border-color: #b02a37;
}
